@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-modal {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.show-modal {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.last-column {
  width: 1%;
  white-space: nowrap;
  padding-right: 1rem;
}

.first-column {
  width: 20%;
  white-space: nowrap;
  padding-right: 1rem;
}

.focused {
  background-color: #12547D;
}

/* Скрытие стандартного скроллбара */
::-webkit-scrollbar {
    width: 3px; /* Ширина скроллбара */
  }
  
  /* Стили для кастомного скроллера */
  ::-webkit-scrollbar-track {
    background-color: #1E2027; /* Цвет фона трека скроллера / bg-[#1E2027] збс */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00A3FF; /* Цвет ползунка скроллера #00A3FF / токсично над чет другое  */
    border-radius: 1px /* Радиус скругления ползунка / При одном пикселе норм скрывается уходит в хедер/футер */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #00679e; /* Цвет ползунка скроллера при наведении */
  }


  
  /* .table-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: #F2F2F2;
  }
                                                    в конце поебаться можно
  .table-scrollbar::-webkit-scrollbar-thumb {
    background-color: #00A3FF;
    border-radius: 1px Радиус скругления ползунка
  } */
  
